{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </head>
  <title>CodeX</title>
  <body>
    <nav class="nav-card navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <h1 class="heading-logo">CodeX</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto mr-3">          
          <li class="navs-item-style nav-item mr-3 navbar-items">
            <a class="navs-item-style nav-link" id="navItem2" href="/contests">Contest</a>
          </li>
          <li class="nav-item mr-5 navbar-items">
            <a class="navs-item-style nav-link" id="navItem3" href="/logout">Logout</a>
          </li>          
        </ul>
      </div>
    </nav> 
    
    <div class="explore-menu-section pt-5 pb-5 mt-5 ml-0">
      <div class="container">
        <div class="row">
          <div class="col-12 mt-5">
            <div class="console-container"><span id="text"></span><div class="console-underscore" id="console">&#95;</div></div>
          </div>     
    
          <!-- Contest Section with Image on Top (Small Devices), Image Left (Larger Devices) -->
          <div class="col-12 mt-4">
            <div class="menu-item-card p-3 mb-3 d-flex flex-column flex-md-row">
              <div class="menu-item-image-container">
                <img
                  src="{% static 'images/contest.jpg' %}"
                  class="menu-item-image"
                  alt="Contest Image"
                />
              </div>
              <div class="menu-item-content-container px-4 py-3">
                <h1 class="menu-card-title">Contest</h1>
                <p class="menu-card-description">
                  Participate in our exciting coding contests to challenge your skills, compete with programmers worldwide, and win exciting prizes! Whether you're a beginner or an expert, these contests offer problems of varying difficulty levels. Test your problem-solving abilities, improve your speed, and boost your coding confidence!
                </p>
                <a href="/contests" class="menu-item-link px-1 py-2">
                  Explore
                  <svg fill="#17b794" width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
    
          <!-- Practice Section with Image on Top (Small Devices), Image Right (Larger Devices) -->
          <div class="col-12 mt-4">
            <div class="menu-item-card p-3 mb-3 d-flex flex-column flex-md-row-reverse">
              <div class="menu-item-image-container">
                <img
                  src="{% static 'images/practice2.jpg' %}"
                  class="menu-item-image"
                  alt="Practice Image"
                />
              </div>
              <div class="menu-item-content-container px-4 py-3">
                <h1 class="menu-card-title">Practice</h1>
                <p class="menu-card-description">
                  Data Structures and Algorithms (DSA) questions focus on the application of efficient data structures like arrays, linked lists, trees, and graphs, as well as algorithms like sorting, searching, and dynamic programming. These questions test a coder's ability to optimize solutions, improve runtime, and manage complex data manipulation tasks.
                </p>
                <a href="{% url 'judge:problems' %}" class="menu-item-link px-1 py-2">
                  Explore
                  <svg fill="#17b794" width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
    
    
    
    
    <div style="display: none" id="jsonData" data-json="{{ user_json }}"></div>
  <script src="{% static 'home.js' %}"></script>  
  
  </body>
</html>