{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0">
	<title>CodeX</title>
	<link rel="stylesheet" href="{% static 'login.css' %}">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<h1 class="heading">CodeX</h1>
		<h3 class="title"></h3>
	</header>    
	<!-- container div -->
	<div class="container">
		<!-- upper button section to select
			the login or signup form -->
		<div class="slider"></div>		
		<div class="btn">
			<button class="login">SignIn</button>
			<button class="signup">SignUp</button>
		</div>
		<!-- Form section that contains the
			login and the signup form -->
		<div class="" style="text-align:center;margin-bottom:2px;">			
		</div>
		<div class="form-section">			
			<!-- login form -->
            
				<div class="login-box">
					<form action="/" method="post" style="text-align: center;">
						{% csrf_token %}
						{% if messages %}    					
        				{% for message in messages %}
            			<p{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:#FF2400">
							{{ message }}
						</p>
        				{% endfor %}    					
						{% endif %}
					
					<input type="text"
						class="email ele"
						placeholder="Username"
						name="username" required>                    
					<input type="password"
						class="password ele"
						placeholder="Password"
						name="password" required>
	
						
					<button type="submit" class="clkbtn">SignIn</button>
				</form>
					<p>OR</p>
					<a href="{% provider_login_url 'google' %}">
						<button class="google-btn">
							<img src="{% static 'images/google-btn.png' %}"/>
							 <span>SignIn</span>
						 </button>
					</a>
				</div>
            
			
			<!-- signup form -->
            
			<div class="signup-box">
				<form action="/" method="post" style="text-align: center;">
					{% csrf_token %}

                <input type="text"
					class="name ele"
					placeholder="Username"
                    name="username" required>
                    
				
				<input type="password"
					class="password ele"
					placeholder="Password"
                    name="password1" required>
				<input type="password"
					class="password ele"
					placeholder="Confirm password"
                    name="password2" required>
					
						
				<button type="submit" class="clkbtn">SignUp</button>
			</form>
				<p>OR</p>
				<a href="{% provider_login_url 'google' %}">
					<button class="google-btn">
						<img src="{% static 'images/google-btn.png' %}"/>
						 <span>SignUp</span>
					 </button>
				</a>
			</div>
            
			
		</div>
	</div>
	<script src="{% static 'login.js' %}"></script>
</body>
</html>
